name: Run Notebook Automation

on:
  workflow_dispatch:
  push:
    branches: ["main"]

  schedule:
    - cron: "0 18 * * *"  # 매일 새벽 3시 KST

jobs:
  run-notebook:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install notebook papermill numpy pandas requests beautifulsoup4 notion-database pendulum


    - name: Debug — show folder structure
      run: |
        pwd
        ls -R .

    - name: Run Notion Job Notebook
      env:
        NOTION_API_KEY: ${{ secrets.NOTION_API_KEY }}
      run: |
        papermill notionForJob.ipynb notionForJob_output.ipynb
